.empty {
  opacity: 1;
}

:global {
  body {
    font-family: monospace;
    background-color: #333344;
    color: white;
  }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
}
